{% extends "headBanner.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href='css/style.css'>
</head>
<body>
{% if user %}
    <div class="container">
        <h1>Edit Your Event</h1>

        <a><strong>{{ event.Title }}</strong></a>

        <form method="POST">
            {% csrf_token %}
            
            {% if user.is_authenticated%}
                <input type="hidden" name="OrganizerID" value="{{ user.UserID }}">
            {% endif %}

            <div class="form-group">
                <label for="CategoryID">Category</label>
                <select id="CategoryID" name="CategoryID" required>
                    <!-- Populate with available categories -->
                    {% for c in Category %}
                        <option value="{{ c.CategoryID }}">{{ c.Name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="Title">Event Title</label>
                <input type="text" id="Title" value = "{{ event.Title }}" name="Title" required maxlength="100">
            </div>

            <div class="form-group">
                <label for="Description">Event Description</label>
                <input id="Description" name="Description" value = "{{ event.Description }}" required maxlength="500"></textarea>
            </div>

            <div class="form-group">
                <label for="Location">Event Location</label>
                <input type="text" id="Location" name="Location" value = "{{ event.Location }}" required maxlength="100">
            </div>

            <div class="form-group">
                <label for="DateTime">Event Date and Time</label>
                <input type="datetime-local" id="DateTime" value = "{{ event.DateTime }}" name="DateTime" required>
            </div>

            <div class="form-group">
                <button type="submit">Update Event</button>
            </div>
            
        </form>
    </div>

{% endif %}
{% include "footer.html" %}
</body>
</html>
{% endblock %}